<!doctype html>
<html>
<div class="header">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/map" class="w3-button w3-block w3-black">MAP</a>
    </div>
    <div class="w3-col s3">
      <a href="/upload" class="w3-button w3-block w3-black">UPLOAD DATA</a>
    </div>
    <div class="w3-col s3">
      <a href="/api_ref" class="w3-button w3-block w3-black">API REFERENCE</a>
    </div>
  </div>
</div>
  <head>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Image Data Aggregation</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
       integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
       crossorigin=""></script>

  </head>
  <body>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
    <footer>
        <p>University of Michigan-Dearborn - ECE528 Final Project (Steiner, Bowyer, Topolovec)</p>
    </footer>
  </body>
</html>