<!doctype html>
<html>
  <div class="header">
    <p><strong>Navigation:</strong> <a href="/">Home</a> <a href="/map">Map</a> <a href="/get-items">Item List</a></p>
  </div>
  <head>
    <title>Image Data Aggregation</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
       integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
       crossorigin=""></script>

  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <div class="footer">
      <p>University of Michigan-Dearborn - ECE528 Final Project (Steiner, Bowyer, Topolovec)</p>
  </div>
</html>