{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="left_container">
        <div class="image_and_data">
            <h1>Image Data</h1>
            <div class="image_container">
                <img class="resize"; id="img1"; src="/static/images/dash-cam-example.jpg"; alt="Dashcam picture">
            </div>
            <p>The information below was extracted from the AWS Rekognition service.</p>
            <ul>
                <li><b>Latitude:</b> <samp id="lat_id"></samp></li>
                <li><b>Longitude:</b> <samp id="long_id"></samp></li>
                <li><b>Speed:</b> <samp id="speed_id"></samp></li>
                <li><b>Objects Detected:</b> <samp id="obj_id"></samp></li>
            </ul>
        </div>
    </div>
    <div id="map" style="flex-grow: 1;">
        <script type="text/javascript">
        // The first parameter are the coordinates of the center of the map
        // The second parameter is the zoom level
        var map = L.map('map').setView([42.3223, -83.1763], 11);
        var creds = '{{ credentials }}';

        // {s}, {z}, {x} and {y} are placeholders for map tiles
        // {x} and {y} are the x/y of where you are on the map
        // {z} is the zoom level
        // {s} is the subdomain of cartodb
        layer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: creds
        }).addTo(map);

        var marker = L.marker([42.3223, -83.1763]).addTo(map);

        marker.bindPopup("<b>Hello world!</b><br>I am a popup.").on('click', onMarkerClick);
        var popup = L.popup()
            .setLatLng([42.3223, -83.1763])
            .setContent("I am a standalone popup.")
            .openOn(map);

        marker.openPopup()

        function onMapClick(e) {
            {#alert("You clicked the map at " + e.latlng);#}
            {#document.getElementById("p1").innerHTML = "Last Click: " + e.latlng;#}
        }
        function onMarkerClick(e) {
            var ims = [];
            var ims = {{ imgs | tojson }};

            if (ims.length > 0) {
                var rand = Math.round(Math.random()*ims.length);
                var image = ims[rand];
                if (image != undefined) {
                    path = '{{ url_for('static', filename='images/')}}' + image;
                    console.log(path)
                    document.getElementById("img1").src = path;
                }
            }
            document.getElementById("lat_id").innerHTML = e.latlng.lat;
            document.getElementById("long_id").innerHTML = e.latlng.lng;
            document.getElementById("speed_id").innerHTML = Math.random()*100;
        }

        map.on('click', onMapClick);
        map.addLayer(layer)

        </script>
    </div>
</div>
{% endblock %}