{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="left_container">
        <div class="image_and_data">
            <h2>Filter data:</h2>
            <label for="hrs" style="padding-right: 15px"><b>Show: </b></label>
                <select name="hrs" id="hrs" style="padding-right:7px">
                    <option value=-1>All time</option>
                  <option value=60>Last 1 hr</option>
                  <option value=120>Last 2 hrs</option>
                  <option value=240>Last 4 hrs</option>
                  <option value=1440>Last 1 day</option>
                    <option value=2880>Last 2 day</option>
                    <option value=10080>Last 1 week</option>
                </select>
            <input type="submit" id="time_filter" name="time_filter" value="Filter">
            <input type="submit" id="clear_time_filter" name="clear_time_filter" value="Clear">
            <br/>
            <br/>
            <label for="labels"><b>Include: </b></label>
                <select name="labels" id="labels">
                    <option value="ALL">All labels</option>
                  <option value="Car">Cars</option>
                  <option value="Person">People</option>
                  <option value="Construction">Construction</option>
                  <option value="Bicycle">Bikes</option>
                </select>
            <input type="submit" id="label_filter" name="label_filter" value="Filter">
            <input type="submit" id="clear_label_filter" name="clear_label_filter" value="Clear">
            <h2>Image Data:</h2>
            <p class="initial_data"><b>Select a marker on the map to view data</b></p>
            <p class="image_header_text show_data">Original:
            <div class="image_container show_data">
                <img class="resize"; id="img1"; src=""; alt="Dashcam picture">
            </div></p>
            <p class="image_header_text show_data">Labeled:
            <div class="image_container show_data">
             <img class="resize"; id="lbl_img"; src=""; alt="Labeled dashcam picture">
            </div></p>
            <div class="show_data">
                <p><b>UID:</b> <samp id="uid_id"></samp></p>
                <p><b>Latitude:</b> <samp id="lat_id"></samp></p>
                <p><b>Longitude:</b> <samp id="long_id"></samp></p>
                <p><b>Time:</b> <samp id="time_id"></samp></p>
                <p><b>Objects Detected:</b> <samp id="obj_id"></samp></p>
            </div>
        </div>
    </div>
    <div id="map" class="map_container">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type = "text/javascript" >
        // The first parameter are the coordinates of the center of the map
        // The second parameter is the zoom level
        let map = L.map('map').setView([42.3223, -83.1763], 11); // set to Dearborn
        let creds = '{{ credentials }}';
        let markerList = [];
        let layer = '';
        let time_filter = -1;
        let label_filter = "ALL";
        let timeout_var = "";

        // {z}, {x} and {y} are placeholders for map tiles
        // {x} and {y} are the x/y of where you are on the map
        // {z} is the zoom level
        // Use unregistered if no access key for mapbox
        if (creds == '') {
            layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        } else {
            layer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: creds
            }).addTo(map);
        }

        // If passed some initial markers, show them, otherwise do the API Call
        initMarkers = {{ markers | tojson}};
        if (initMarkers.length > 0) {
            updateMarkers(initMarkers);
        } else {
            apiCallMarkers();
        }

        map.addLayer(layer);
        timeout_var = setTimeout(apiCallMarkers, 60000); // set timeout to call refresh function

        /*************************************************************************************************************
         *  Helper functions
         *************************************************************************************************************/
        function onGetImagesSuccess(response) {
            p = response;
            let markers = [];
            for (i = 0; i < response.body.length; i++) {
                markers.push(response.body[i]);
            }
            updateMarkers(markers);

        }
        // function to call api and call update markers when done
        async function apiCallMarkers() {
            // TODO replace with API call
            let bnds = getBoundaries();
            if (label_filter != "ALL") {
                bnds["detected_label"] = label_filter;
            }
            if (time_filter > 0) {
                bnds["freshness_limit"] = parseInt(time_filter);
            }
            let url = '';

            url = `https://dy0duracgd.execute-api.us-east-1.amazonaws.com/dev/get-imgs-in-gps-box`;
            ajaxObj = {
                url: url,
                type: 'get',
                data: bnds,
                success: onGetImagesSuccess,
                error: function(err) {console.log(err)}
            }
            $.ajax(ajaxObj);
        }

        function markerExists(m) {
            for (let i = 0; i < markerList.length; i++) {
                if (markerList[i].data.image_uid == m.image_uid) {
                    return true;
                }
            }
            return false;
        }

        // Add markers from the list to the map formatted [[x1, y1], [x2, y2]....]
        function updateMarkers(markers) {
            if (markers) {
                for (let m = 0; m < markers.length; m++) {
                    if (markers[m]) {
                        if (!markerExists(markers[m])) {
                            var val = [markers[m].info.latitude, markers[m].info.longitude];
                            markerList[m] = L.marker(val, {"riseOnHover": true});
                            markerList[m].addTo(map).on('click', onMarkerClick);
                            markerList[m].id = m;
                            markerList[m].data = markers[m];
                        }
                    }
                }
            }
            resetTimeout(); // Since we are already updating, reset the timer
        }

        // Delete any markers on the map and clear global markerList
        function deleteOutOfBoundsMarkers() {
            map.eachLayer(function(lyr){
                bnds = getBoundaries();
                maxLat = Math.max(bnds.TL_Lat, bnds.BR_Lat);
                minLat = Math.min(bnds.TL_Lat, bnds.BR_Lat);
                maxLong = Math.max(bnds.TL_Long, bnds.BR_Long);
                minLong = Math.min(bnds.TL_Long, bnds.BR_Long);
                if (lyr instanceof L.Marker) {
                    lyr_lat = lyr.getLatLng().lat;
                    lyr_long = lyr.getLatLng().lng;
                    if (lyr_lat > maxLat || lyr_lat < minLat || lyr_long > maxLong || lyr_long < minLong) {
                        // Remove from marker list as well
                        for (var i = 0; i < markerList.length; i++) {
                            if (Object.is(markerList[i], lyr)) {
                                lyr.remove();
                                markerList.splice(i, 1);
                            }
                        }
                    }
                }
            });
        }

        // Delete any markers on the map and clear global markerList
        function deleteMarkers() {
            map.eachLayer(function(lyr){
                if (lyr instanceof L.Marker) {
                    lyr.remove();
                    // Remove from marker list as well
                    for (var i = 0; i < markerList.length; i++) {
                        if (Object.is(markerList[i], lyr)) {
                            markerList.splice(i, 1);
                            console.log("Removed")
                        }
                    }
                }
            });
        }

        function getBoundaries() {
            var bounds = map.getBounds();
            sw_lat = Number.parseFloat(bounds.getSouthWest().lat).toFixed(4);
            sw_lng = Number.parseFloat(bounds.getSouthWest().lng).toFixed(4);
            ne_lat = Number.parseFloat(bounds.getNorthEast().lat).toFixed(4);
            ne_lng = Number.parseFloat(bounds.getNorthEast().lng).toFixed(4);
            return {
                TL_Lat: sw_lat,
                TL_Long: sw_lng,
                BR_Lat: ne_lat,
                BR_Long: ne_lng
            }
        }

        function hideMarkers() {
            map.eachLayer(function(lyr){
                if (lyr instanceof L.Marker) {
                    lyr.setOpacity(1); // Set this to 0 if you have issues where marker kinda skips when zooming too fast.
                }
            });
        }

        function showMarkers() {
            map.eachLayer(function(lyr){
                if (lyr instanceof L.Marker) {
                    lyr.setOpacity(1);
                }
            });
        }

        function resetTimeout() {
            console.log('Here')
            clearTimeout(timeout_var);
            timeout_var = setTimeout(apiCallMarkers, 60000);
        }
        /*************************************************************************************************************
         *  Event based functions
         *************************************************************************************************************/
        // When a marker is clicked, show data from the database
        function onMarkerClick(e) {
            var ims = {{ imgs | tojson }};

            let src_data = e.target.data;
            $("#uid_id").text(src_data.image_uid);
            $("#lat_id").text(src_data.info.latitude);
            $("#long_id").text(src_data.info.longitude);
            $("#time_id").text(src_data.info.human_readable_time)
            $("#obj_id").text(src_data.info.detected_labels)
            // Image uid, human readable time, center image and add unlabeled image
            // images within the last X minutes, labels (cars, construction barrels, emergency vehicles, bicycles)
            // add field upload for time
            // sequence diagram to home page
            // Construction and Deer
            $("#img1").attr("src", e.target.data.info.image_source);
            $("#lbl_img").attr("src", e.target.data.info.labeled_image_source);
            $(".show_data").css("visibility", "visible");
            //$(".initial_data").css("visibility", "hidden");
            $(".initial_data").remove()
        }


        function onFilterTime(e) {
            time_filter = parseInt($("#hrs").val());
            deleteMarkers();
            apiCallMarkers();
        }

        function onFilterLabel(e) {
            label_filter = $("#labels").val();
            deleteMarkers();
            apiCallMarkers();
        }

        function onClearTime(e) {
            time_filter = -1;
            $("#hrs").val(time_filter);
            deleteMarkers();
            apiCallMarkers();
        }

        function onClearLabel(e) {
            label_filter = "ALL";
            $("#labels").val(label_filter);
            deleteMarkers();
            apiCallMarkers();
        }

        // When a movement action starts, hide markers so they don't show on map
        function onMoveStart(e) {
            hideMarkers();
        }

        // When a movement action ends, pull in from database and add new markers
        function onMoveEnd(e){
            deleteOutOfBoundsMarkers();
            showMarkers();
            apiCallMarkers()
        }

        // Bind Events
        map.on('movestart', onMoveStart);
        map.on('moveend', onMoveEnd);
        $("#time_filter").bind("click", onFilterTime);
        $("#label_filter").bind("click", onFilterLabel);
        $("#clear_time_filter").bind("click", onClearTime);
        $("#clear_label_filter").bind("click", onClearLabel);
        </script>
    </div>
</div>
{% endblock %}