{% extends "layout.html" %}
{% block content %}
<h1>Upload Data</h1>
    <div class="spinner"></div>
    <div class="form_content">
        <form id="add" method="POST" enctype="multipart/form-data">
            <label for="lat">Latitude:</label>
            <input type="text" id="lat_in" name="lat_in" value="42.3223" required>
            <label for="long">Longitude:</label>
            <input type="text" id="long_in" name="long_in" value="-83.1763" required>
            <br/>
            <br/>
          <label for="img">Select image:</label>
          <input type="file" name="file" accept="image/*" required>
            <br/>
            <br/>
          <input type="submit">
        </form>
        <div class="upload-container">
            <div>
                <h3>Preview</h3>
                <p>Below is a preview of the selected image. Press submit to upload the data.</p>
            </div>

            <div class="preview-container">
                <img class="resize" id="showImg" src="" >
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type = "text/javascript">
        let last_file = '';
       $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    last_file = this.files[0];
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        $("#add").submit(function (event) {
            $(".form_content").hide();
            $(".spinner").show();
            console.log($("#up_img"));
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(last_file);
            if ($("#up_img").files && $("#up_img").files[0]) {

                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL($("#up_img").files[0]);
            }
            //event.preventDefault();
        });

       var x = document.getElementById("lat_in");
       var y = document.getElementById("long_in");
       if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(showPosition);
       } else {
           x.value = "42.3223";
           y.value = "-83.1763"
       }

        function showPosition(position) {
          x.value = position.coords.latitude;
          y.value = position.coords.longitude;
        }

        function imageIsLoaded(e) {
            $('#showImg').attr('src', e.target.result);
        };
    </script>

{% endblock %}